// ========================================================================
// COMPONENTS/SECTIONS/HEADER
// ========================================================================

@import '~sassHelpers';

.c-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: spacer(2);
  padding-top: spacer(2);

  .c-container {
    display: flex;
  }

  .c-nav {
    margin-left: auto;
  }
}
